<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" />
    <style>li.list-group-item{overflow:auto;padding-top:6px;padding-bottom:6px;}header.page-header{margin-top:20px;}a.h1{color:inherit;text-decoration:none;}@media(max-width: 750px){div.col-sm-3{font-weight:700;}}</style>
    <title>ifconfig.pm</title>
  </head>
  <body>
    <header class="page-header container">
      <a href="/" class="h1">
        What is my ip address? - <small>ifconfig.pm</small>
      </a>
    </header>
    <nav class="container"></nav>
    <main class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Your Connection</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="col-sm-3">IP Address</div><div class="col-sm-9">{{ .ip }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Remote Host</div><div class="col-sm-9">{{ .host }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Country Code</div><div class="col-sm-9">{{ .country_code }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">User Agent</div><div class="col-sm-9">{{ .ua }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Protocol</div><div class="col-sm-9">{{ .protocol }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Port</div><div class="col-sm-9">{{ .port }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Language</div><div class="col-sm-9">{{ .lang }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Referer</div><div class="col-sm-9">{{ .referer }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Method</div><div class="col-sm-9">{{ .method }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Connection</div><div class="col-sm-9">{{ .connection }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Encoding</div><div class="col-sm-9">{{ .encoding }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">MIME Type</div><div class="col-sm-9">{{ .mime }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Cache-control</div><div class="col-sm-9">{{ .cache }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Do Not Track</div><div class="col-sm-9">{{ .dnt }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Charset</div><div class="col-sm-9">{{ .charset }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">Via</div><div class="col-sm-9">{{ .via }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-3">X-Forwarded-For</div><div class="col-sm-9">{{ .forwarded }}</div>
          </li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Simple cURL API! </h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm</div><div class="col-sm-8">{{ .ip }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/ip</div><div class="col-sm-8">{{ .ip }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/host</div><div class="col-sm-8">{{ .host }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/country_code</div><div class="col-sm-8">{{ .country_code }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/ua</div><div class="col-sm-8">{{ .ua }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/protocol</div><div class="col-sm-8">{{ .protocol }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/port</div><div class="col-sm-8">{{ .port }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/lang</div><div class="col-sm-8">{{ .lang }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/connection</div><div class="col-sm-8">{{ .connection }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/encoding</div><div class="col-sm-8">{{ .encoding }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/mime</div><div class="col-sm-8">{{ .mime }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/cache</div><div class="col-sm-8">{{ .cache }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/dnt</div><div class="col-sm-8">{{ .dnt }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/charset</div><div class="col-sm-8">{{ .charset }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/via</div><div class="col-sm-8">{{ .via }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/forwarded</div><div class="col-sm-8">{{ .forwarded }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/all</div><div class="col-sm-8">{{ .hash_as_yaml }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/all.xml</div><div class="col-sm-8">{{ .hash_as_xml }}</div>
          </li>
          <li class="list-group-item">
            <div class="col-sm-4">$ curl ifconfig.pm/all.json</div><div class="col-sm-8">{{ .hash_as_json }}</div>
          </li>
        </ul>
      </div>
    </main>
    <footer class="container text-center">
      <p>&copy; <a href="https://github.com/georgyo/ifconfig.io">Original source code from georgyo</a>, <a href="https://github.com/pfoo/ifconfig.io">fork available on github</a></p>
    </footer>
<!-- Hello World -->
  </body>
</html>
